.form-container{
    align-self: center;
}

.form-container form{
    /* border: 1px solid rgba(128, 128, 128, 0.562); */
    margin-top: 50px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    background-color: rgb(224, 224, 224);
    color: rgb(32, 49, 65);
}

.form-label{
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container input[type="number"]{
    border: 1px solid rgba(128, 128, 128, 0.582);
    margin: 15px auto;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    width: 120px;
    appearance: none;
    -moz-appearance: textfield;
}

.form-container input[type="submit"]{
    color: rgb(236, 236, 236);
    background-color: rgb(20, 51, 87);
    font-weight: 300;
    font-size: 1.1em;
    transition: .3s ease-in-out;
}
.form-container input[type="submit"]:hover{
    background-color: rgb(46, 113, 139);
}

.city-name{
    padding: 12px;
    margin: 25px 0;
    text-align: center;
    color: rgb(32, 49, 65);
}

.list-of-all-posts{
    /* border: 1px solid red; */
    padding: 12px;
    width: 90%;
    margin: 15px auto;
}

.individual-post{
    /* border: 1px solid red; */
    margin-top: 5px;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(226, 226, 226);
    border-radius: 2px;
    transition: .2s ease-in-out;
}

.individual-post:hover{
    background-color: rgb(158, 158, 158);
}

.individual-post i {
    margin-right: 30px;
    font-size: 1.5em;
}
.individual-post:hover i{
    animation: left-to-right-arrow 1s infinite;
}

.individual-post h4{
    color: rgb(32, 49, 65);
}

@keyframes left-to-right-arrow{
    50%{
        transform: translateX(5px);
    }
}