
nav{
    /* background-color: rgb(16, 31, 59); */
    /* background-color: #F2906B; */
    /* background-color: #469C98; */
    /* option 3 */
    background-color: #283b53;
    color: white;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    padding:0 2rem;
    height: 60px;
    margin: 0 0 0 15px;
    transform: skew(-10deg);
    /* background-color: rgb(20, 85, 116); */
    background-color: rgb(48, 156, 160);
    color: white;
    transition: .3s ease-in-out;
    border: 1px solid #67469c5e;
}

nav button:hover{
    background-color: white;
    color: rgb(57, 188, 192);
    /* border: 1px solid rgba(255, 255, 255, 0.301); */
}
.btn-dashboard{
    /* color: red; */
    margin-right: 30px;
    transition: .3s ease-in-out;
}

.btn-dashboard:hover{
    color: rgb(39, 252, 230);
}

.auth-buttons{
    margin-right: 25px;
    height: 60px;
    /* border: 1px solid red; */
}

.fa-home{
    margin-left: 25px;
    font-size: 2.5em;
    /* color: rgb(28, 115, 155); */
    color: rgb(57, 188, 192);
    /* border: 1px solid red; */
    transition: .2s ease-in;
}

.fa-home:hover{
    /* color: rgb(105, 208, 255); */
    color: rgb(45, 29, 54);
    
}


