#root {
  /* text-align: center; */
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  color: #715774;
  display: flex;
  flex-direction: column;
}


.individual-post{
  cursor: pointer;
  /* background-color: gray; */
}
.individual-post a{
  color: #6291f0;
}




