#root {
  /* text-align: center; */
  /* min-height: 100vh; */
  background-color: #415779;
  color: white;
  display: flex;
  flex-direction: column;
}

.main-container{
  min-height: 80vh;
}
.individual-post{
  cursor: pointer;
  /* background-color: gray; */
}
.individual-post a{
  color: #6291f0;
}




